/* GENERAL */

.page-width {
    max-width: none;
}

.button {
    color: white;
    background-color: #4374EF;
    border: none !important;
}

h2 {
    text-transform: uppercase;
}

/* HEADER */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-menu__item {
    text-transform:uppercase;
}

#Banner-template--18316498927916__image_banner .content-container {
    max-width: 70rem;
}


/* SECTION FEATURED PRODUCTS */

.section-template--18316498927916__featured_collection-padding {
    margin-left: 15rem;
    margin-right: 15rem;
}

.collection__title {
    text-align: center;
}

.collection__title h2 {
    text-transform: capitalize;
}

.card__information>h3 {
    text-transform: uppercase;
}

.price__container {
    color: #4374EF;
}

/* SECTION PRODUCT */

#ProductSubmitButton-template--18316498927916__0fc39c75-e146-42f5-86bd-c175d60448c2 {
    color: #4374EF !important;
    background-color: white !important;
    border: 1px solid #4374EF !important;
}

.shopify-payment-button__button  {
    color: white !important;
    background-color: #4374EF !important;
    border: 1px solid white !important;
}

.section-template--18316498927916__0fc39c75-e146-42f5-86bd-c175d60448c2-padding a {
    color: #4374EF !important;
}

.quantity, button.quantity__button {
    background-color: #4374EF;
    color: white;
}

.quantity {
    border: none !important;
}

/* SECTION FEED INSTA */

.image-with-text__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.image-with-text__media .image-with-text__media--small .gradient .color-background-1 .global-media-settings .media>img {
    display: block;
    align-self: center;
}


/* FOOTER */

.footer__blocks-wrapper {
    display: flex !important;
    flex-direction: row !important;

}

.footer__content-bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}