/* GENERAL */

.page-width {
    max-width: none;
}

.button {
    color: white;
    background-color: #4374EF;
}

h2 {
    text-transform: uppercase;
}

/* HEADER */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-menu__item {
    text-transform:uppercase;
}

#Banner-template--18316498927916__image_banner .content-container {
    max-width: 70rem;
}


/* SECTION FEATURED PRODUCTS */

.section-template--18316498927916__featured_collection-padding {
    margin-left: 15rem;
    margin-right: 15rem;
}

.collection__title {
    text-align: center;
}

.collection__title h2 {
    text-transform: capitalize;
}

.card__information>h3 {
    text-transform: uppercase;
}

.price__container {
    color: #4374EF;
}

